
.sendButton
{
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox
{
  width: 400px;
}

.dialogVPanel
{
  margin: 5px;
}

.serverResponseLabelError
{
  color: red;
}

#closeButton
{
  margin: 15px 6px 6px;
}

#credits
{
  margin-right: 30px;
}

